body{
    background-color: #0cf;
}
@media screen and (min-width:768px){
    body{
    background-color: #00f;
        }
}
@media screen and (min-width:960px){
    body{
        background-color: #f00;
    }
}
img{
    max-width: 100%;
    height: auto;
}
.cf::after{
    content:"";
    display: block;
    clear: both;
}